<div class="container">
  <div class="py-4">
    <h2 class="mb-3">My Form</h2>

    <p class="text-secondary mb-4">A 3 step form.</p>

    <div class="card card-body shadow py-4">

    <!-- Step 1 Form -->
    <div class="">
      <form *ngIf="formStep==1" [formGroup]="firstStepForm" class="form-group my-form p-4" (ngSubmit)="nextStep(2)" #firstForm="ngForm">
          <h5 class="mb-3">First Step</h5>
          <div class="row">
            <label>First Name</label>
            <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('firstName').errors && firstStepForm.get('firstName').touched" formControlName="firstName">
            <!-- <div class="text-danger small">
              Error
            </div> -->
          </div>
    
          <div class="row">
            <label>Last Name</label>
            <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('lastName').errors && firstStepForm.get('lastName').touched" formControlName="lastName">
          </div>
    
          <div class="row">
            <label>Phone Number</label>
            <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('phone').errors && firstStepForm.get('phone').touched" formControlName="phone">
          </div>
    
          <div class="row">
            <label>Email</label>
            <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('email').errors && firstStepForm.get('email').touched" formControlName="email">
          </div>
    
          <div class="row">
            <label>Address</label>
            <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('address').errors && firstStepForm.get('address').touched" formControlName="address">
          </div>
    
          <div class="row">
            <label for="first-name">Gender</label>
            <!-- <input type="text" class="form-control" [class.is-invalid]="firstStepForm.get('gender').errors && firstStepForm.get('gender').touched" formControlName="gender"> -->
            <select class="form-control" [class.is-invalid]="firstStepForm.get('gender').errors && firstStepForm.get('gender').touched" formControlName="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Other</option>
              </select>
          </div>
    
          <div class="row justify-content-end mt-4">
            <div class="col-6 text-right">
              <button type="submit" class="btn btn-primary">
                Next Step
              </button>
            </div>
          </div>
        </form>
    </div>

    <!-- Step 2 Form -->
    <div class="">
      <form *ngIf="formStep==2" [formGroup]="secondStepForm" class="form-group my-form p-4" (ngSubmit)="nextStep(3)" #secondForm="ngForm">
          <h5 class="mb-3">Second Step</h5>
          <div class="row">
            <label>Detailed Query</label>
            <textarea type="text" class="form-control" [class.is-invalid]="secondStepForm.get('query').errors && secondStepForm.get('query').touched" formControlName="query"></textarea>
            <!-- <div class="text-danger small">
              Error
            </div> -->
          </div>
  
    
          <div class="row justify-content-between mt-4">
            <div class="col-6">
              <button type="button" class="btn btn-primary" (click)="prevStep(1)">
                Previous Step
              </button>
            </div>
            <div class="col-6 text-right">
              <button type="submit" class="btn btn-primary">
                Next Step
              </button>
            </div>
          </div>
        </form>
    </div>

    <!-- Step 3 Form -->
    <div class="">
      <form *ngIf="formStep==3" [formGroup]="thirdStepForm" class="form-group my-form p-4" (ngSubmit)="submitForm()" #thirdForm="ngForm">
          <h5 class="mb-3">Third Step</h5>
          <div class="row">
            <label>Confirm Email</label>
            <input type="text" class="form-control" (keyup)="validateEmail()" [class.is-invalid]="(thirdStepForm.get('email').errors || emailValidationError) && thirdStepForm.get('email').touched" formControlName="email">
            <div class="text-danger small" *ngIf="(thirdStepForm.get('email').errors || emailValidationError) && thirdStepForm.get('email').touched">
              Emails do not match
            </div>
          </div>
  
          <div class="row">
              <re-captcha (resolved)="resolved($event)" siteKey="6LcNJb4UAAAAAJPRydoVa8UX2cxu-JzSQUVPE4Gs"></re-captcha>
          </div>
    
          <div class="row justify-content-end mt-4">
            <div class="col-6">
              <button type="button" class="btn btn-primary" (click)="prevStep(2)">
                Previous Step
              </button>
            </div>
            <div class="col-6 text-right">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
    </div>

    </div>

  </div>
</div>